<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/creds"> create room</a>
    <!-- <form method="POST" action="">
        <button> Create Room</button>
    </form> -->
    <form method="POST" action="/">
        <input name="room_code" placeholder="room Id" >
        <button type="submit" >Join</button>
    </form>
</body>
</html>